<!DOCTYPE html>
<html>
	<head>
		<title>Universal Scraper</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
    <link rel="stylesheet" href="/styles.css">
	<body>

    <div class="container">
        <div class="container m-4">
            <div class="jumbotron">
                <h1 class="display-4 text-shadow">Universal Scraper</h1>
                <p class="lead text-shadow">Perform a simple web scrape to extract contact information from company websites</p>
                <hr class="my-4">

                <p class="lead">
                <form action="/scrape" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="link" name="link" placeholder="Website URL" value="https://www.canddi.com/" required>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-info" id="btn-scrape">Scrape</button>
                </div>
                </form>
            </div>
        </div>

        <div class="container m-4">
            <ul class="list-group">
                <li class="list-group-item active info info-header"> Email Addresses Recovered</li>
                <% emails.forEach(function(element) { %>
                    <li class="list-group-item"><%= element %></li>
                <% }); %>
            </ul>
        </div>

        <div class="container m-4">
            <ul class="list-group">
                <li class="list-group-item active info info-header"> Phone Numbers Recovered</li>
                <% phones.forEach(function(element) { %>
                    <li class="list-group-item"><%= element %></li>
                <% }); %>
            </ul>
        </div>

        <div class="container m-4">
            <ul class="list-group">
                <li class="list-group-item active info info-header"> Addresses Recovered</li>
                <% postcodes.forEach(function(element) { %>
                    <li class="list-group-item">
                        <%= element %>
                        <a href="https://www.google.co.uk/maps/place/<%= element %>" target="_blank">View on map</a>
                    </li>
                <% }); %>
            </ul>
        </div>

        <div class="container m-4">
            <ul class="list-group">
                <li class="list-group-item active info info-header"> Social Recovered</li>
                <% facebook.forEach(function(element) { %>
                    <li class="list-group-item">
                        <i class="fa fa-facebook-official mr-1"></i>
                        <a href="<%= element %>"><%= element %></a>
                    </li>
                <% }); %>
                <% twitter.forEach(function(element) { %>
                    <li class="list-group-item">
                        <i class="fa fa-twitter"></i>
                        <a href="<%= element %>"><%= element %></a>
                    </li>
                <% }); %>
                <% linkedIn.forEach(function(element) { %>
                    <li class="list-group-item">
                        <i class="fa fa-linkedin"></i>
                        <a href="<%= element %>"><%= element %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    

    </body>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
